<section class="container">
  <header class="head">
  <!-- nav-wrapper start-->
  <div class="nav-wrapper">
    <input id="toggle" type="checkbox">
    <label for="toggle"><i class="fas fa-bars" id="hamburger"></i></label>
    <!--nav-menu start-->
    <nav class="nav-menu">
      <ul>
        <li><a href="/"><%= siteTitle %></a></li>
        <li><a href="/">Gallery</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>
    <!--nav-menu end-->
  </div>
  <!--nav wrapper end-->
</header>
</section>