<%- include('../partials/head')%>
</head>
<body>
  <%- include('../partials/nav')%>
  <div class="register">
    <h1>Sign Up</h1>
      <form method="post">
        <input type="text" name="u" placeholder="Username" required="required" />
        <input type="password" name="p" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Sign Me Up!</button>
      </form>
        <p class="time"><%= `Current time: ${dayjs()}` %></p>
  </div>
  <%- include('../partials/footer')%>
</body>
</html>